.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.info {
  list-style: none;
  text-align: left;
}
.coding {
  font-size: 15px;
  text-align: center;
}
